<p>
	<strong>Titulo</strong>
<%= @movies.title %>
</p>
<p>
	<strong>Genero</strong>
<%= @movies.genero %>
</p>
<p>
	<strong>Lenguaje</strong>
<%= @movies.lenguage %>
</p>
<p>
	<strong>Subtitulos</strong>
<%= @movies.subtitle %>
</p>
<p>
	<strong>Duraccion</strong>
<%= @movies.duration %>
</p>
<p>
	<strong>Fecha de Estreno</strong>
<%= @movies.release_date %>
</p>
<p>
	<strong>Sinopsis</strong>
<%= @movies.summary %>
</p>
<p>
	<strong>Clasificacion</strong>
<%= @movies.classification %>
</p>
<p>
	<strong>Imagen</strong>
<%= @movies.ext %>
</p>

 
